@model GovernadorStore.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/produtos/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorVenda)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>
</div><br />
<div>
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-outline-dark" href="javascript:window.history.back();">Voltar</a>
</div>
